body.home {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(http://lorempixel.com/1920/1080/animals);
	background-color: white;
}

a.recent-article,
a.recent-article:visited {
	display: inline-block;
	padding: 2px 6px;
	color: white;
	text-decoration: none;
	font-size: 1.4rem;
	line-height: 1.6em;
	margin-bottom: 12px;
}

a.recent-article img {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 4px;
	line-height: 1.6em;
	vertical-align: middle;
}

.recent-article.daily-news {
	background-color: white;
	color: #333;
}

.term-list {
	margin: 0 0 12px 0;
	padding: 0;
	color: white;
	border: 1px 1px 0 1px dotted white;
	text-shadow: 0 1px 1px #000;

	li {
		list-style: none;
		padding: 12px 6px;
		border: 1px dotted white;
	}

	a {
		color: white;
		display: block;
	}
}
