.archive-item-post,
.archive-item-contributor {
	padding: 12px;
	border: 1px dashed #333;
	margin: 12px 0 12px 0;
	display: flex;

	h2.entry-title {
		font-size: 18px;
	}

	img {
		width: 60px;
		height: 60px;
		margin-right: 6px;
	}
}

.post-type-archive-contributors {
	.archive-item-contributor {
		margin: 0;
		border-bottom: 0;
	}

	.table-contributors {
		border-bottom: 1px dashed #333;
		margin-bottom: 32px;
	}
}

.comic-item-grid {
	text-align: center;
	a {
		background-repeat: none;
		background-size: cover;
		display: block;
		height: 260px;
		position: relative;
		margin-bottom: 12px;

		.comics-info {
			position: absolute;
			bottom: 0;
			margin: 0;
			padding: 12px;
			color: white;
			font-size: 14px;
			text-align: center;
			background-color: $brand_pink;
			width: 100%;
			transition: all ease-in 0.2s;
			h1 {
				font-size: 14px;
			}
			p {
				font-size: 12px;
				margin-bottom: 0;
			}
		}

		&:hover {
			.comics-info {
				padding-bottom: 48px;
			}
		}
	}
}

.nav-links {
	display: flex;
	margin-top: 24px;
	justify-content: space-between;
}

.nav-links > div {
}

.nav-links .nav-pagenumber {
	display: inline-block;
	background-color: $brand_yellow;
	color: #333;
	padding: 6px;
}

.nav-links a {
	display: inline-block;
	background-color: $brand_pink;
	color: white;
	padding: 6px;
}

.nav-links span.page-numbers.current {
	display: inline-block;
	padding: 6px;
}
