.contributions {
	border: 1px solid $brand_pink;
	h2 {
		background-color: $brand_yellow;
		color: #333;
		padding: 6px;
		font-size: 22px;
	}
}

.contributor-article {
	padding: 6px;
	h3 {
		font-size: 18px;
	}
}
