.site-logo {
	max-width: 150px;
	height: auto;
	margin-bottom: 16px;
	margin-top: 12px;
}

h1.site-title {
	font-size: 26px;
	margin: 36px 0 0 0;
	background-color: $brand_yellow;
	padding: 4px 6px;
	display: inline-block;
}

.main-navigation {
	margin-top: 24px;
	ul#primary-menu > li > a {
		background-color: $brand_pink;
		color: white;
	}

	li a {
		display: inline-block;
		color: $brand_pink;
		background-color: white;
		margin: 0 6px 6px 0;
		padding: 4px 6px;
		font-size: 14px;
	}
}

.site-description {
	font-size: 22px;
	color: white;
	background-color: $brand_pink;
	clear: both;
	margin: 0 0 15px 0;
	padding: 0 6px;
}

.site-header {
	margin-bottom: 24px;
}
